/*sección de arriba, donde está el menú y la barra de busqueda*/
.barra_superior {
    display: flex;
    position:fixed;
    top: 0;
    right: 0;
    left: 256px;
    background-color: #ba7095;
    border: 0;
    height: 70px;
}

.menu {
    height: 20px;
    display: flex;
    padding-top: 25px;
}

.Buscar {
    width: 240px;
    height: 30px;
    margin-top: 22px;
    margin-left: 950px;
    border: 0;
}

.bbuscar {
    height: 30px;
    margin-top: 22px;
    padding-top: 5px;
    background-color: #69163b;
    border: 0;
}

/*Aqui empieza la parte izquierda*/
.barra_izquierda {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 83%;
    top: 0;
    left: 0;
    height: 710px;
    padding-top: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.div1 {
    display: flex;
    justify-content: center;
}

.miau {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.love {
    color: #b67e9b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    position: absolute;
    margin-top: 35px;
    width: 20px;
}

ul {
    padding-top: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 47px;
}

.div3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 50px;
}

.bconfig { /*Botón de configuración*/
    padding: 5px 5px;
    border: none;
    background-color: #d09cb6;
}

.bcsesion { /*Botón de Cerrar Sesión*/
    padding: 5px 5px;
    border: none;
    background-color: #69193d;
    color: rgb(255, 255, 255);
}

.div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.tldr { /*"Todos los derechos reservados"*/
    padding-top: 20px;
    margin-bottom: 0;
}
.mlc { /*"miaulove"*/
    margin-top: 0;
}

/*Aqui comienza el centro de la página*/
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 250px;
    height: 627px;
    padding-top: 50px;
    width: 1235px;
    border-right: 0;
    border-bottom: 0;
}

.unete {
    margin-bottom: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.gatitos {
    margin-top: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.b_centro { /*Botones del centro de la página*/
    background-color: #ce9cb6;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#cat1, #cat2, #cat3, #cat4 { /*Imágenes*/
    padding-top: 50px;
    width: 250px;
    padding-left: 15px;
}

#like1, #like2, #like3, #like4 { /*Botónes de like*/
    display: inline;
    padding: 5px 104px;
    margin-left: 15px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.071);
    background-color: #ffffff;
}

#primero, #segundo, #tercero, #cuarto { /*Texto de los botones*/
    display: inline;
}

.extra{
    background-color: #9f537b;
}